<head>
    <title>Tipi di pizze</title>
    <style>
     .pp{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        }

    .h1
        {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

    .td
        {
        border:solid 18px  black;
        }

     </style>
 </head>
 <body>
     
         <center>
         <img src="logo.png">
         </center>
 
         <center>
             <img src="bandiera.gif"><br><br>
         </center>
         <br><br>
         <center><h1>Tipi di pizza</h1>
         </center>
 <br><br>

 <center>
    <table>
        <td><pp><B>Pizza italiana</B></pp><br><img src="piz_ita.jpg" width="300" height="300"><br><center><font size=40>&darr;</font></center><br><center><pp>(Descrizione e categorie)</pp></center></td>
        <td><pp><B>Pizza inglese</B></pp><br><img src="piz_ing.jpg" width="300" height="300"><br><center><font size=40>&darr;</font></center><br><center><pp>(Descrizione e categorie)</pp></center></td>
    </table> 
</center>



 </body>
 </html>